.wrapper {
  @apply min-h-screen
    flex
    items-center
    py-[40px];
}

.content {
  @apply flex
    flex-col;
}

.subtitle {
  @apply my-5
    ml-auto
    uppercase
    lg:text-big-subtitle
    text-xl
    leading-[130%];
}

.article {
  @apply lg:mt-[60px]
    md:mt-[40px]
    mt-6
    flex
    items-center
    gap-[30px]
    lg:gap-[70px]
    max-md:flex-col;

  &Headline {
    @apply md:text-subtitle
        text-xl
        font-bold;
  }

  &Body {
    @apply md:max-w-[390px]
        flex
        flex-col
        gap-[20px]
        md:gap-[28px];
  }

  &Text {
    @apply text-lg;
  }
}

.video {
  @apply flex-auto
    rounded-md
    overflow-hidden;

  video {
    @apply w-full;
  }
}
