.wrapper {
  @apply py-[60px]
    flex
    items-center
    min-h-screen
    2xl:gap-[190px]
    lg:gap-[80px]
    max-lg:flex-col
    max-md:pt-[50px];
}

.title {
  @apply inline-block
    md:text-3xl
    xl:text-big-subtitle
    md:leading-[110%]
    text-xl;

  span {
    @apply uppercase
        md:text-3xl
        xl:text-big-subtitle
        md:leading-[110%]
        text-xl;
  }
}

.accordeon {
  @apply md:min-w-[39%]
    flex-shrink-0
    max-md:w-full
    max-md:mt-5;
}

.image {
  @apply w-full
    h-auto
    mt-[30px]
    2xl:translate-x-[120px]
    lg:translate-x-[60px]
    max-lg:max-w-[520px]
    max-lg:mx-auto;
}
